body {
    font-family: 'News Cycle', sans-serif;
    background-color: #EDEDEE;
}

a{
    text-decoration: none;
}
section {
    text-align: center;
}
body> section:nth-of-type(2n +1) {
    background-color: #00BF64;
    color: white;
}
body> section:nth-of-type(2n +1) a{
    background-color: white;
    color: #00BF64;
}
body> section:nth-of-type(2n) a{
    color: white;
    background-color: #00BF64;
}
h1 {
    font-size: 2em;
    font-weight: bold;
}

@media screen and (max-width: 1000px) {
    nav>ul>li>a {
        text-align: center;
        display: block;
    }
    nav>ul>li{
        display: inline-block;
        width: 49%;
        line-height: 2em;
    }
    nav>ul>:nth-child(2n+1):last-child{
        width: 100%;
    }
    .circleImg {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin: 20px 21px 10px 21px;
    }
}
@media screen and (min-width: 1000px){
    header {
        line-height: 106px;
    }
    section> :first-child {
        padding-top: 122px;
        /* THE ERROR : padding / margin AND '>' for select the first generation
        section :first-child {
        margin-top: 122px; */
    }
    .main {
        width: 1000px;
        margin: 0 auto;
    }
    .circleImg {
        border-radius: 50%;
        width: 165px;
        height: 165px;
        margin: 0 21px 85px 21px;
    }
    header {
        height: 106px;
        position: relative;
    }
    h1{
        position: absolute;
        left: 0;
    }

    nav {
        position: absolute;
        right: 0;
    }
    nav>ul>li {
        display: inline;
        padding: 0 30px;
    }
}
nav>ul>li>a {
    color: black;
    text-decoration: none;
}
nav>ul>li>a:active{
    color: #00BF64;
}
.topSection {
    background-image: url("../img/banner.png");
}
#black {
    background-color: #2D404A;
    color: white;
}

main.main>a {
    border: none;
    border-radius: 5px;
    padding: 1em 2em;
    font-size: 1.5em;
    margin-bottom: 106px;
    display: inline-block;
}

h2 {
    font-size: 3em;
    font-weight: bold;
}
h3 {
    line-height: 3em;
    font-size: 1.5em;
}
p {
    padding: 2em 0;
    line-height: 1.8em;
}

footer {
    text-align: center;
}

span {
    font-weight: bold;
}
