body {}

.main {
    width: 1000px;
    margin: 0 auto;
}

section {
    text-align: center;
}

body> section:nth-child(2n +1) {
    background-color: #00BF64;
}

.topSection {
    background-image: url("../img/banner.png");
}

.circleImg {
    border-radius: 50%;
    width: 165px;
    height: 165px;
    margin: 122px 21px 85px 21px;
}

#black {
    background-color: #2D404A;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 1em 2em;
    font-size: 1.5em;
    margin-bottom: 106px;
}

h2 {
    font-size: 3em;
}

p {
    padding: 2em 0;
}
