body{

}
section {
    background-color:
    width: 1000px;
    height: 615px;
}
.topSection {
    background-image: url("../img/banner.png");
    background-color: green;
    text-align: center;

}
.circleImg {
    border-radius: 50%;
    width: 165px;
    height: 165px;
    margin: 122px 21px 85px 21px;
}
