body {
    font-family: 'News Cycle', sans-serif;
    background-color: #EDEDEE;
}

.main {
    width: 1000px;
    margin: 0 auto;
}

section {
    text-align: center;
}
section> :first-child {
    padding-top: 122px;
/* THE ERROR : padding / margin AND '>' for select the first generation
    section :first-child {
    margin-top: 122px; */
}
body> section:nth-of-type(2n +1) {
    background-color: #00BF64;
    color: white;
}
body> section:nth-of-type(2n +1) input{
    background-color: white;
    color: #00BF64;
}
header {
    line-height:
}
h1 {
    font-size: 2em;
    font-weight: bold;
}
.topSection {
    background-image: url("../img/banner.png");
}
#black {
    background-color: #2D404A;
    color: white;
}
.circleImg {
    border-radius: 50%;
    width: 165px;
    height: 165px;
    margin: 0 21px 85px 21px;
}

input {
    border: none;
    border-radius: 5px;
    padding: 1em 2em;
    font-size: 1.5em;
    margin-bottom: 106px;
}

h2 {
    font-size: 3em;
    font-weight: bold;
}
h3 {
    line-height: 3em;
    font-size: 1.5em;
}
p {
    padding: 2em 0;
    line-height: 1.8em;
}
